@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--cor-fundo-body: #ececea;
}

body {
	font-family: 'Nunito', sans-serif;
	color: var(--cor-texto-principal);

	background-image: url(/images/pngtree-rustic-elegance-marbled-textured-background-with-brown-fluid-art-paint-png-image_12316314.png);
	background-color: var(--cor-fundo-body);
	background-size: 100%;
}

button,
input,
textarea {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

button {
	border: 0;
	background-color: transparent;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
